.filterContainer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.titleFilter {
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  font-size: 16px;
  color: var(--color-secondText);
  text-transform: uppercase;
}

.buttonFilter {
  transform: rotate(270deg);
  border: none;
  background-color: transparent;
  min-inline-size: 24px;
  min-block-size: 24px;
  font-family: var(--font-text);
  font-weight: var(--font-weightMedium);
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.buttonFilterActive {
  transform: rotate(90deg);
}

.containerButtons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  padding-block: 16px;
  padding-inline-end: 42px;
}

.buttonColorActive {
  opacity: 0.5;
}

.sortContainer {
  display: grid;
  gap: 8px;
}

.buttonFilterSelect {
  border: none;
  block-size: 48px;
  border-radius: 8px;
  font-family: var(--font-text);
  font-weight: var(--font-weightMedium);
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.buttonFilterSize {
  background-color: var(--color-mainText);
  color: var(--color-secondText);
  cursor: pointer;
}

.buttonSizeActive {
  background-color: var(--color-secondText);
  color: var(--color-mainText);
}
