.footer {
  position: relative;
  display: grid;
  gap: 30px;
  background-color: var(--color-detailedWidgets);
  padding-block-start: 24px;
  padding-inline: 16px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  margin-block-start: -20px;
}

.container {
  display: grid;
  gap: 16px;
}

.title {
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  font-size: 24px;
  color: var(--color-basketCounter);
}

.linkContainer {
  display: grid;
  gap: 8px;
}

.link {
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  font-size: 16px;
  color: var(--color-secondText);
}

.logo {
}
