.footer {
  position: relative;
  display: grid;
  gap: 30px;
  background-color: var(--color-detailedWidgets);
  padding-block-start: 24px;
  padding-inline: 16px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  margin-block-start: -20px;
}

.footerContent {
  display: grid;
  gap: 30px;
}

.container {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 16px;
}

.title {
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  font-size: 24px;
  color: var(--color-basketCounter);
  block-size: max-content;
}

.linkContainer {
  display: grid;
  gap: 8px;
}

.link {
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  font-size: 16px;
  color: var(--color-secondText);
}

.logo {
}

@media (width >= 1280px) {
  .footer {
    padding-inline: 48px;
  }

  .footerContent {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
  .container:nth-child(2),
  .container:nth-child(3) {
    justify-self: center;
  }
}
