.containerProfileButton {
  position: relative;
}

.button {
  border: none;
  background-color: transparent;
  inline-size: 16px;
  block-size: 16px;
  cursor: pointer;
}

.containerLinks {
  display: grid;
  gap: 16px;
  padding-block-start: 26px;
  padding-block-end: 12px;
  padding-inline: 10px;
}

.modal {
  background-color: var(--color-detailedWidgets);
  position: absolute;
  top: 22px;
  right: -18px;
  z-index: 4;
  min-inline-size: 65px ;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.buttonMenu {
  border: none;
  background-color: transparent;
  font-family: var(--font-text);
  font-weight: var(--font-weightRegular);
  font-size: 16px;
  color: var(--color-secondText);
  padding: 0;
  margin: 0;
  text-align: start;
}

@media (width >= 1280px) {
  .button {
    inline-size: 24px;
    block-size: 24px;
  }

  .modal {
    top: 35px;
    right: -32px;
    min-inline-size: 135px;
  }
}