.adBaner {
  margin-block-start: 24px;
  padding-inline: 16px;
}

.textTitle {
  font-family: var(--font-text);
  font-weight: var(--font-weightBold);
  font-size: clamp(60px, 15vw, 223px);
  white-space: nowrap;
  color: var(--color-secondText);
  text-transform: uppercase;
  text-align: center;
  inline-size: 100%;
  margin-block-end: 24px;
}

.textTitleSpan {
  color: var(--color-bgLink);
}

.container {
  position: relative;
  block-size: 100vh;
  block-size: clamp(382px, 80vw, 750px);
  inline-size: 100%;
}

.imgBaner {
  position: absolute;
  z-index: -1;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.contentContainer {
  position: relative;
  block-size: 100%;
  padding: 16px;
  display: grid;
  justify-items: start;
}

.containerMain {
  block-size: max-content;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: flex-end;
  gap: 27px;
  inline-size: 100%;
}

.span {
  padding: 8px;
  position: absolute;
  top: 90px;
  left: -62px;
  transform: rotate(-90deg);
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  font-size: 12px;
  color: var(--color-text);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--color-secondText);
}

.mainTextContainer {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  gap: 8px;
  max-block-size: max-content;
  max-inline-size: 490px;
}

.secondImageContainer {
  justify-self: flex-end;
  display: grid;
  gap: 8px;
}

.secondImg {
  inline-size: clamp(64px, 11vw, 220px);
  block-size: 100%;
}

.brandName {
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  font-size: clamp(24px, 5vw, 74px);
  color: var(--color-mainText);
}

.aboutBrand {
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  color: var(--color-text);
}

@media (width >= 1280px) {
  .container {
    min-block-size: 750px;
  }
  .adBaner {
    padding-inline: 60px;
  }
  .secondImageContainer {
    gap: 16px;
  }
  .contentContainer {
    padding: 32px;
  }
  .aboutBrand {
    font-size: 24px;
  }
}
