.registerContainer {
  display: grid;
  gap: 20px;
}

.containerLabel {
  display: grid;
  gap: 16px;
}

.containerCheckBox {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.text {
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  color: var(--color-secondText);
}

.title {
  font-size: 20px;
}

.span {
  font-family: var(--font-text);
  font-weight: var(--font-weightRegular);
  font-size: 12px;
  color: var(--color-span);
  margin-inline-start: 8px;
}
