.containerPagination {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  align-items: center;
  margin-block-end: 24px;
}

.buttonPagination {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-secondText);
  border-radius: 8px;
  block-size: 32px;
  min-inline-size: 39px;
  font-family: var(--font-text);
  font-weight: var(--fonte-weightMedium);
  font-size: 14px;
  color: var(--color-secondText);
  text-transform: uppercase;
}

.buttonPaginationPrev {
  transform: rotate(180deg);
}

.buttonPaginationActive {
  background-color: var(--color-secondText);
  color: var(--color-mainText);
}

.disabled {
    opacity: 0.5;
}