.content {
  margin-block-start: 24px;
  padding-inline: 16px;
  padding-block-end: 16px;
}

.textContainer {
  display: grid;
  justify-content: space-between;
  align-items: flex-end;
  gap: 29px;
  grid-auto-flow: column;
  margin-block-end: 24px;
}

.title {
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  font-size: 24px;
  color: var(--color-secondText);
  max-inline-size: 609px;
  text-transform: uppercase;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 16px;
}

@media (width >= 1280px) {
  .cardsContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .title {
    font-size: 74px;
  }
  .content {
    padding-inline: 60px;
  }
}