.contacts {
  display: grid;
  gap: 20px;
}

.containerBlock {
  display: grid;
  gap: 20px;
}

.container {
  position: relative;
  display: grid;
  gap: 8px;
}

.text {
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  color: var(--color-secondText);
}

.title {
  font-size: 24px;
}

.paragraph {
  font-size: 14px;
}