.counter {
    inline-size: 20px;
    block-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background-color: var(--color-basketCounter);
}