.header {
  inline-size: 100%;
  min-block-size: 60px;
}

.headerContainer {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-inline: 18px;
  padding-block: 20px;
  border-radius: 12px;
  left: 16px;
  right: 16px;
  background-color: var(--color-detailedWidgets);
  z-index: 3;
  margin-block-start: 15px;
}

.logoContainer {
  max-inline-size: 80px;
  max-block-size: 20px;
  display: grid;
  justify-self: center;
}

.userContainer {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-end;
  gap: 9px;
}

@media (width >= 1280px) {
  .header {
    padding-block: 20px;
    padding-inline: 60px;
  }

  .logoContainer {
    min-inline-size: 128px;
    min-block-size: 32px;
  }

  .headerContainer {
    position: inherit;
    margin: 0;
    padding-inline: 32px;
  }

  .userContainer {
    gap: 40px;
  }
}
