.container {
  position: relative;
  padding-inline: 16px;
  display: grid;
  gap: 24px;
}

.containerButtons {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}

.title {
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  font-size: 20px;
  color: var(--color-secondText);
}

.items {
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  font-size: 14px;
  color: var(--color-secondText);
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.containerPagination {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  align-items: center;
  margin-block-end: 24px;
}

.spanPagination {
  text-align: center;
}

.buttonPagintaionPrev {
  transform: rotate(180deg);
}
