.card {
}

.imgContainer {
  position: relative;
  padding: 8px;
  background-color: var(--color-detailedWidgets);
  border-radius: 16px;
  margin-block-end: 16px;
}

.spanNew {
  position: absolute;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 13px;
  padding-block: 4px;
  padding-inline: 8px;
  background-color: var(--color-bgLink);
}

.spanSale {
  position: absolute;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 13px;
  padding-block: 4px;
  padding-inline: 8px;
  background-color: var(--color-basketCounter);
}

.image {
  inline-size: 100%;
  block-size: 100%;
  min-block-size: 175px;
  object-fit: contain;
}

.textContainer {
  display: grid;
  gap: 8px;
}

.title {
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  font-size: 16px;
  color: var(--color-secondText);
  inline-size: 100%;
  min-block-size: 40px;
}

.button {
  background-color: var(--color-secondText);
  border: none;
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  color: var(--color-mainText);
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 8px;
  padding-block: 15px;
  inline-size: 100%;
  cursor: pointer;
}

.buttonPrice {
  color: var(--color-basketCounter);
}

@media (width>=1280px) {
  .title {
    font-size: 24px;
    min-block-size: 55px;
  }
  .button {
    font-size: 14px;
  }
}
