.profile {
  display: grid;
  gap: 24px;
  margin-block: 48px;
  padding-inline: 16px;
  background-color: var(--color-text);
}

@media (width >= 1280px) {
  .profile {
    padding-inline: 60px;
  }
}