.baner {
  position: relative;
  display: grid;
  align-items: end;
  padding: 24px;
  inline-size: 100%;
  min-block-size: 149px;
  margin-block-start: 48px;
  margin-block-end: 24px;
}

.textContainer {
  display: grid;
  gap: 4px;
  max-inline-size: 213px;
}

.text {
  font-family: var(--font-text);
  color: var(--color-text);
}

.span {
  font-weight: var(--font-weightRegular);
  font-size: 12px;
}

.paragraph {
  font-weight: var(--font-weightRegular);
  font-size: 10px;
}

.title {
  font-weight: var(--font-weightSemiBold);
  font-size: 20px;
}

.image {
  position: absolute;
  z-index: -1;
  inline-size: 100%;
  block-size: 100%;
  padding: 16px;
}