.baner {
  position: relative;
  display: grid;
  align-items: end;
  padding-inline: 16px;
  inline-size: 100%;
  min-block-size: 149px;
  block-size: clamp(149px, 30vw, 395px);
  margin-block-end: 24px;
}

.textContainer {
  position: absolute;
  bottom: 16px;
  left: 30px;
  display: grid;
  gap: 4px;
  max-inline-size: 213px;
}

.text {
  font-family: var(--font-text);
  color: var(--color-text);
}

.span {
  font-weight: var(--font-weightRegular);
  font-size: 12px;
}

.paragraph {
  font-weight: var(--font-weightRegular);
  font-size: 10px;
}

.title {
  z-index: 2;
  font-weight: var(--font-weightSemiBold);
  font-size: 20px;
}

.image {
  inline-size: 100%;
  block-size: clamp(149px, 30vw, 395px);
  object-fit: cover;
  border-radius: 16px;
}

@media (width >= 1280px) {
  .baner {
    padding-inline: 60px;
  }
  .textContainer {
    bottom: 25%;
    left: 100px;
    max-inline-size: 409px;
  }
  .span {
    font-size: 24px;
  }
  .title{
    font-size: 74px;
  }
  .paragraph {
    font-size: 20px;
  }
}
