.login {
  display: grid;
  gap: 24px;
  margin-block: 48px;
  padding-inline: 16px;
  background-color: var(--color-text);
}

@media (width >= 1280px) {
  .login {
    padding-block-start: 50px;
    padding-block-end: 150px;
    padding-inline: 400px;
  }
  .containerLogin {
    padding: 60px;
    background-color: var(--color-detailedWidgets);
    border-radius: 32px;
  }
}
