.menuButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.headerMenuContainer {
  position: relative;
}

.containerLinks {
  display: grid;
  gap: 10px;
  padding-block-start: 26px;
  padding-block-end: 12px;
  padding-inline: 10px;
}

.link {
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  font-size: 10px;
  color: var(--color-secondText);
}
