.menuButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.headerMenuContainer {
  position: relative;
}

.containerLinks {
  display: grid;
  gap: 16px;
  padding-block-start: 26px;
  padding-block-end: 12px;
  padding-inline: 10px;
}

.link {
  font-family: var(--font-text);
  font-weight: var(--font-weightSemiBold);
  font-size: 16px;
  color: var(--color-secondText);
  text-align: start;
}

@media (width >= 1280px) {
  .containerLinks {
    grid-template-columns: repeat(2, max-content);
    align-items: end;
    gap: 40px;
    padding-block: 0;
  }
  .link {
    inline-size: max-content;
  }
}