.Black {
  background-color: black;
}
.White {
  background-color: white;
}
.Red {
  background-color: red;
}
.Grey {
  background-color: gray;
}
.Blue {
  background-color: blue;
}
.Navy {
  background-color: navy;
}
.Green {
  background-color: green;
}
.Brown {
  background-color: brown;
}
.Silver {
  background-color: silver;
}
.Orange {
  background-color: orange;
}
.Yellow {
  background-color: yellow;
}
