:root {
  /* fonts */
  --font-text: sans-serif;

  --font-weightRegular: 400;
  --font-weightSemiBold: 600;
  --font-weightMedium: 500;
  --font-weightBold: 700;

  /* colors */
  --color-basketCounter: #ffa52f;
  --color-detailedWidgets: #fafafa;
  --color-bgLink: #4a69e2;
  --color-mainText: #ffffff;
  --color-text: #e7e7e3;
  --color-secondText: #232321;
  --bg-modal: #f4f2f2;
  --bg-buttonDisable: #d2d1d3;
  --color-buttonDisable: #8f8c91;
}
