.input {
  inline-size: 100%;
  min-block-size: 48px;
  background-color: transparent;
  border: 1px solid var(--color-secondText);
  border-radius: 8px;
  padding-inline: 16px;
}

.input::placeholder {
  font-weight: var(--font-weightRegular);
  font-size: 16px;
  color: var(--color-placeHolder);
}

.validation {
  border: 1px solid rgb(200, 0, 0);
}

.validation::placeholder {
  color: rgb(200, 0, 0);
}
